<h2>My foods</h2>
<%= link_to('New', new_food_path) if can?(:read, Food) %>
<section>
  <div>
    <span>Food</span><span>Unit</span><span>Price</span><span>Action</span>
  </div>
  <% if @foods.length.zero? %>
    <div><%= render(partial: 'partials/empty', locals: { name: 'foods' }) %></div>
  <% else %>
    <%= render(partial: 'food', collection: @foods, locals: { action: true }) %>
  <% end %>
</section>